@font-face {
    font-family: bebasneue-regular;
    src: url('fonts/BebasNeue-Regular.ttf');}

.fullpage {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-right: 1%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.shadow-pop-header {
	-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.header {
    align-items: center;
    justify-content: space-around;
    background-color: #BBBBBB;
    padding-bottom: 2%;
}

@-webkit-keyframes shadow-pop-header {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }

.head_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    gap: 0;
}

.certs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding-bottom: 1%;
}

.contact {
    font-size: 1.3em;
    font-family: bebasneue-regular;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10%;
    opacity: 100%;
    color: #231F20;
    border-style: solid;
    border-color: #000000;
    border-width: 10px;
    width: 100%;
}

.contact_space {
    padding-top: 3%;
}

.contact h3 {
    font-weight: lighter;
}

.title {
    display: flex;
    flex-direction: column;
    font-family: bebasneue-regular;
    background-color: none;
    padding: 0;
    margin: 0;
    gap: 0;
    color: #A20C32;
}

.title p {
    font-size: 4.5em;
    text-shadow: 3px 3px 6px #000;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 3%;
}

.projects_title {
    text-align: left;
    padding-left: 4%;
    font-family: bebasneue-regular;
    font-size: 2em;
}

.outer_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 2%;
}

.img_slider{
    width: 75%;
    height: 100%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: .5em;
    z-index: 1;
}

.learn {
    width: 100%;
    background-color: #BBBBBB;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

.learn_title {
    text-align: left;
    padding-left: 5%;
    color:#A20C32;
    font-family: bebasneue-regular;
    font-size: 2em;
}

.learn_contents {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 4%;
}

.learn_vidoes {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 50px;
    padding-bottom: 4%;
    padding-left: 5%;
}

.learn_questions {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0;
    padding-bottom: 3%;
}

.q {
    padding: 2%;
    background-color: #A20C32;
    border-radius: 50%;
    color:#F9F8F9;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
    align-items: center;
    line-height: 370%;
    font-family: bebasneue-regular;
    font-size: 1.9em;
}

.future {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    padding-bottom: 4%;
}

.future_title {
    text-align: left;
    padding-left: 4%;
    font-family: bebasneue-regular;
    font-size: 2em;
}

.future1 {
    display: flex;
    flex-direction: colum;
    background-color: #A20C32;
    color:#F9F8F9;
    padding: 2%;
    font-family: bebasneue-regular;
    font-size: 1.1em;
}

.review {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
    background-color: #BBBBBB;
    padding-bottom: 3%;
}

.review_title {
    text-align: left;
    padding-left: 4%;
    color:#A20C32;
    font-family: bebasneue-regular;
    font-size: 2em;
}

.review_content {
    color:#F9F8F9;
}

.reach_out {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 4%;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding-top: 2%;
}

.b1_box {
    display: flex;
    flex-direction: row;
    color:#F9F8F9;
    background-color: #A20C32;
    font-size: 1.6em;
    width: 80%;
    justify-content: space-around;
    padding: 2%;
    font-family: bebasneue-regular;
}

.b1 {
    background-color: goldenrod;
    color: #000000;
    border-radius: 20px;
    border-width: 5px;
}

.b1 a {
    font-size:1.75em;
    color:#A20C32;
    padding:10px;
}